<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>TaskCars</title>
</head>
<body>
<table border="1" ; width="50%">
    <caption><h2>Вот таблица с машинками</h2></caption>
    <thead>
        <tr>
            <th>Марка</th>
            <th>Модель</th>
            <th>Год выпуска</th>
        </tr>
    </thead>
    <tbody>
        <th:block th:each="car : ${cars}">
                <tr>
                    <td th:text="${car.getBrand()}"></td>
                    <td th:text="${car.getModel()}"></td>
                    <td th:text="${car.getYear()}"></td>
                </tr>
        </th:block>
    </tbody>
</table>
</body>
</html>