<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<table border="1" ; width="50%">
    <caption><h2>Вот таблица с людьми</h2></caption>
    <thead>
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>E-mail</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="user : ${users}">
        <tr>
            <td th:text="${user.getName()}"></td>
            <td th:text="${user.getLastName()}"></td>
            <td th:text="${user.getEmail}"></td>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>